
#header {
  border-left: none;
  border-right: none;

  #app.icon & {
    left: @menu-icon-width;
  }
  #app.hidden & {
    left: 0;
  }
  position: fixed;
  top: 0;
  left: @menu-width;
  right: 0;
  z-index: 1000;
  min-height: @header-height;
  height: @header-height;
  background: #fff;
  border-radius: 0;
  .navbar-header {
    height: @header-height;
    img {
      display: block;
      height: @header-height;
    }
  }
  .container-fluid {
    padding: 0;
  }
  .nav > li {
    height: @header-height;
    &:hover {
      background: #f3f4f5;
    }
  }
}

.navbar-nav > li > .dropdown-menu {
  margin-top: 0;
}

.menu-toggle {
  float: left;
  width: @header-height;
  padding-top: (@header-height - @header-toggle-size) / 2;
  text-align: center;
  cursor: pointer;
  .fa {
    font-size: @header-toggle-size;
  }
}

#topNav {
  float: right;
  margin: 0;
  & > li {
    float: left;
    & > a {
      height: @header-height - 1;
      padding: (@header-height - @header-avatar-size)/2 21px !important;
    }
  }
  & > li.open {
    .dropdown-menu {
      margin-top: 0 !important;
      position: absolute;
      float: left;
      width: auto;
      border-radius: 4px;
      min-width: 110px;
      li a {
        color: #606d7a;
        line-height: 1em;
        padding: 16px !important;
      }
    }
  }
}

#localeNav {
  img {
    width: 16px;
  }
  span {
    display: none;
  }
}

.locales-nav-item {
  img {
    height: 16px;
    margin-right: 8px;
  }
}

#userNav {
  div {
    display: inline-block;
  }
  img {
    display: inline-block;
    border-radius: 50%;
    overflow: hidden;
    height: @header-avatar-size;
  }
  .caret {
    display: none;
  }
}

#app.full {
  #userNav {
    img {
      margin-right: 8px;
    }
    .caret {
      display: inline-block;
    }
  }
}
