{
  "plugins": [
    "syntax-export-extensions",
    "syntax-flow",
    "transform-class-properties",
    "transform-es2015-modules-commonjs",
    "transform-export-extensions",
    "transform-flow-strip-types",
    "transform-object-rest-spread"
  ],
  "ignore": [
    "*/node_modules/*",
    "*/views/*"
  ]
}
