{
  "extends": "airbnb",
  "env": {
    "node": true
  },
  "globals": {
  },
  "parser": "babel-eslint",
  "plugins": ["flowtype", "flowtype-errors"],
  "rules": {
    "flowtype/define-flow-type": 1,
    "flowtype/use-flow-type": 1,
    "flowtype-errors/show-errors": 2,
    "arrow-parens": [2, "always"],
    "class-methods-use-this": 1,
    "prefer-const": 0,
    "prefer-template": 0,
    "no-duplicate-imports": 0,
    "no-param-reassign": 0,
    "no-prototype-builtins": 0,
    "no-underscore-dangle": 0,
    "no-continue": 0,
    "comma-dangle": [1, "never"],
    "spaced-comment": [0, "always"],
    "func-names": 0,
    "import/extensions": 0,
    "import/no-unresolved": 0,
    "import/no-extraneous-dependencies": 1,
    "import/no-duplicates": 2,
    "import/prefer-default-export": 1,
    "radix": 0,
    "max-len": [2, {"code": 120, "ignoreComments": true}],
    "require-yield": 1,
    "react/forbid-prop-types": 0,
    "react/no-unused-prop-types": 1,
    "react/prefer-stateless-function": 0
  }
}
