
body, html {
  background: @body-color;
}

body {
  font-size: 14px;
}

#app.hidden {
  display: block !important;
}

#body {
  margin-top: @header-height + 1;
  margin-left: @menu-width;
  #app.icon & {
    margin-left: @menu-icon-width;
  }
  #app.hidden & {
    margin-left: 0;
  }
}

#content {
  position: relative;
}

#contentInner {
  padding: (@top-toolbar-height + @content-space) @content-space 50px
}

.scroll {
  overflow-x: auto;
}

.dropdown-menu > li > a {
  padding: 16px;
  line-height: 1em;
  &:hover {
    background-color: rgba(202, 206, 209, 0.5) !important;
  }
}

.dropdown-menu > li.with-icon {
  & > a {
    padding-left: 36px;
    position: relative;
    .fa {
      position: absolute;
      top: 15px;
      left: 12px;
    }
  }
}

.loading {
  text-align: center;
  font-size: 14px;
  color: #333;
  line-height: 50px;
  margin-top: 100px;
}

.noborder {
  border-width: 0;
}

.pointer {
  cursor: pointer;
}

.icon-btn {
  width: 18px;
  height: 18px;
  line-height: 18px;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
}

.form-control:focus {
  outline: none !important;
  box-shadow: none !important;
}

.btn-default {
  border-color: @border-color !important;
}

.modal-footer {
  border-top: none;
  padding-top: 0;
}

.dashboard-placeholder {
  font-size: 24px;
  text-align: center;
  margin-top: 100px;
}

@import "top-toolbar";
@import "bottom-toolbar";
@import "editor";
@import "header";
@import "data-table";
@import "list";
@import "quick-editor";
@import "login";
@import "menu";
@import "toastr";
@import "scrollbar";
@import "error";
