.Select {
  .Select__control {
    border-radius: $input-border-radius;
    border-color: $input-border-color;
    box-shadow: none;
    &:hover {
      border-color: $input-border-color;
    }
    &.Select__control--is-focused {
      border-color: $input-focus-border-color;
      box-shadow: $input-focus-box-shadow;
    }
  }
  .Select__menu {
    z-index: 1100;
  }
}

.form-group {
  .checkbox-group {
    .checkbox {
      margin-right: 1rem;
    }
  }
}
