{
  "presets": [
    "react",
    [
      "env", {
      "targets": {
        "node": "8.9"
      }
    }
    ]
  ],
  "plugins": ["transform-export-extensions", "syntax-export-extensions", "transform-runtime"]
}
