@import "~codemirror/lib/codemirror.css";
.mixed-field {
  .CodeMirror {
    height: auto;
    min-height: 44px;
    border: solid 1px $input-border-color;
    &.CodeMirror-focused {
      border-color: $input-focus-border-color;
    }
  }
  .is-invalid {
    .CodeMirror {
      border-color: $form-feedback-invalid-color;
    }
  }
}
