.action-bar {
  .app.icon & {
    left: $menu-icon-width;
  }
  .app.hidden & {
    left: 0;
  }
  position: fixed;
  left: $menu-width;
  bottom: 0;
  right: 0;
  margin-bottom: 0;
  border-width: $border-width 0 0;
  background: $dark-color;
  z-index: 999;
  color: #fff;
  min-height: $bottom-toolbar-height;
  display: flex;
  .container-fluid {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  .action-bar-form {
    flex: 1;
    .form-group {
      margin-bottom: 0;
    }
  }
  .btn {
    margin-left: $padding-base-horizontal; // 10px
  }
  .cancel-search {
    display: none;
  }
  .fa.list-search-toggle {
    font-size: 1.4rem;
  }
}

@media (max-width:767px) {
  .action-bar .container-fluid {
    display: flex;
    flex-direction: row;
    .action-bar-form {
      flex: 1;
      border: 0;
      box-shadow: none;
    }
  }
}

@media(min-width: 461px) {
  .action-bar {
    .fa-search {
      display: none;
    }
  }
}

@media(max-width: 460px) {
  .action-bar {
    .search-field {
      display: none;
    }
  }
  .action-bar.search-mode {
    .action-bar-form .fa-search {
      display: none;
    }
    .search-field {
      display: block;
      max-width: inherit;
    }
    .list-actions {
      display: none;
    }
    .cancel-search {
      display: block;
    }
  }
  .action-group {
    .btn.with-icon {
      .action-title {
        display: none;
      }
    }
  }
}
