.editor-page {
  .editor-tool-bar {
    height: $top-toolbar-height;
    position: fixed;
    top: $header-height;
    left: $menu-width;
    right: 0;
    background: $white-color;
    border-bottom: solid $border-width $border-color;
    z-index: 100;
  }
  .editor-tabs {
    display: flex;
    flex-direction: row;
    margin-right: $content-space;
    .editor-tab {
      height: $top-toolbar-height;
      line-height: $top-toolbar-height;
      margin-left: $content-space;
      color: $link-color;
      cursor: pointer;
      &.active {
        border-bottom: 2px solid $link-color;
      }
    }
  }
  .editor-action-bar {
    .editor-actions {
      .btn {
        margin-left: $padding-base-horizontal; // 10px
      }
    }
  }
}

.editor {
  &>div {
    margin-top: 0.5rem; // 8px
    &:first-child {
      margin-top: 0;
    }
  }
}

.relationship {}
