.field-group {
  .field-group-form {
    .form-group {
      margin-bottom: 1.25rem;
    }
    .is-invalid {
      .invalid-feedback {
        width: auto;
        display: block;
      }
    }
    .category-field {
      .multi-level-select {
        margin-top: $content-space;
        &:first-child {
          margin-top: 0;
        }
      }
    }
  }
}

.field-group-list {
  .form-group:last-of-type {
    margin-bottom: 0;
  }
}
