.filter-editor {
  background: #fff;
  padding: $content-space;
  padding-top: 0;
  margin: 0 0 $content-space 0;
  &>div {
    margin-top: $content-space;
  }
  .field-filter {
    margin-right: $content-space;
    padding: 0;
    label {
      margin-bottom: 0;
    }
  }
}
