.header {
  position: fixed;
  top: 0;
  left: $menu-width;
  right: 0;
  z-index: 1000;
  background: $white-color;
  height: $header-height;
  border-bottom: $border-width solid $border-color;
  display: flex;
  .menu-toggle {
    margin: $content-space-small;
    .btn {
      &:focus {
        box-shadow: none !important;
      }
      .fa {
        font-size: 1.25rem; // 20px;
      }
    }
  }
  .nav {
    align-items: center;
    .nav-toggle {
      display: none;
    }
    .nav-tab {
      line-height: $header-height;
      padding: 0 1rem;
      margin-top: -1px;
      &.active {
        color: $active-color;
      }
      &:hover {
        cursor: pointer;
      }
    }
  }
}

.widget-group {
  margin: 0;
  padding: 0;
  height: $header-height;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  li {
    .dropdown {
      height: 100%;
      border-radius: 0;
      border: none;
    }
    .dropdown-toggle {
      background: #fff;
      border: none;
      height: 100%;
      border-radius: 0;
      padding-left: $padding-widget;
      padding-right: $padding-widget;
      margin-top: -4px;
      &::after {
        display: none;
      }
      &:hover {
        background-color: $grag-color;
      }
    }
    &>.btn {
      height: 100%;
      border-radius: 0;
      padding-left: $padding-widget;
      padding-right: $padding-widget;
      i {
        color: $font-dark;
        font-size: 1.25rem; // 20px;
        margin-top: $content-space;
      }
      &:hover {
        background-color: $grag-color;
      }
      &:focus {
        box-shadow: none;
      }
    }
  }
  .user-widget {
    padding: 0 $padding-widget;
    line-height: $header-height;
    img {
      width: $header-img;
      height: $header-img;
      border-radius: $header-img / 2;
    }
    .btn-group {
      display: none;
      .dropdown-item {
        padding: {
          left: 20px;
          right: 20px;
        }
        ;
      }
    }
  }
  .locale-widget {
    line-height: $header-height;
    img {
      width: $header-img;
      height: $header-img;
    }
  }
}

.dropdown-menu {
  .dropdown-item {
    padding: $content-space-medium;
    color: $font-dark;
    img,
    i {
      margin-right: $content-space;
    }
    &:hover {
      background: $grag-color;
    }
    &:focus {
      background: $bg-light;
    }
  }
}

@media(max-width: 768px) {
  .header {
    .nav {
      display: block;
      .nav-toggle {
        display: block;
      }
      &.hidden {
        overflow: hidden;
      }
      &.visible {
        overflow: visible;
      }
      .nav-tab {
        &.active {
          display: none;
        }
      }
    }
  }
  .widget-group {
    .refresh-widget,
    .logout-widget {
      display: none;
    }
    .user-widget {
      padding: 0 0 !important;
      .user-avatar {
        display: none;
      }
      .btn-group {
        display: block !important;
      }
    }
  }
}
