::-webkit-scrollbar {
  width: 8px;
  height: 5px;
}

::-webkit-scrollbar-corner,
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.06);
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

*:hover::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.22);
}

.scrollbar-h {
  &::-webkit-scrollbar {
    height: 10px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 5px;
  }
}
