$page-bg: #eaf0f5;
// Components
$login-page-width: 37.5rem; // 600px
$login-form-width: 16.25rem; //260px
$login-logo-width: 18.75rem; //300px
$loading-height: 3.75rem; //60px
// Border
$border-color: #f0f0f0;
// FontSize defalult
$font-size-base:0.875rem;
//FontColor
$body-color:#333;
//grid-space
$grid-gutter-width:2rem;
// Colors
$blue: #049cdb;
$cyan: #1dbfd7;
$green: #11b410;
$red: #d83451;
$yellow: #f89a08;
$active-color: #1abc9c;
$dark-color: #232928;
$white-color: #fff;
$grag-color: #eee;
$blue-color: #047fb4;
$gray: #777;
$gray-light: #aaa;
$font-dark: #333;
$bg-light: #f0f0f0;
$list-hover-color: #f5f5f5;
$quick-editor-alert-info-bg: #d9edf7;
$quick-editor-alert-info-border: #bce8f1;
$quick-editor-alert-info-color: #31708f;
// Buttons
$btn-default-color: #666;
// Panels
$panel-default-border: $border-color;
$panel-default-heading-bg: #fff;
// Modals
$modal-backdrop-bg: rgba(0, 0, 0, 0.5);
$modal-content-border-color: $border-color;
$modal-header-border-color: #f5f5f5;
$modal-backdrop-opacity: 0.16;
// Forms
$input-border: $border-color;
$input-border-radius: 0;
// Tables
$table-border-color: $border-color;
// Navbar
$navbar-default-link-active-bg: $border-color;
$navbar-default-link-hover-color: $blue;
// DropDowns
$dropdown-divider-bg: $border-color;
$navbar-default-toggle-icon-bar-bg: #fff;
$navbar-default-toggle-border-color: #fff;
$navbar-default-toggle-hover-bg: lighten($blue, 10%);
// Content
$content-space: 0.5rem; //8px
$content-space-xsmall: 0.25rem; //4px
$content-space-small: 0.313rem; //5px
$content-space-medium: 1rem; //16px
$content-space-large: 1.25rem; //20px
$padding-base-vertical: 0.375rem; //6px
$padding-base-horizontal: 0.75rem; //12px
$padding-field-view: 0.938rem; //15px
$padding-widget: 1.063rem; //17px
// Menu
$menu-width: 15rem; //240px
$menu-icon-width: 2.813rem; //45px
// Header
$header-height: 3rem; //48px
$header-toggle-size: 1.25rem; //20px
$header-avatar-size: 1.75rem; //28px
$header-right: 0.625rem; //10px
$header-img: 1.25rem; //20px
// Top Toolbar
$top-toolbar-height: 2.625rem; //42px
// Bottom Toolbar
$bottom-toolbar-height: 3.25rem; //52px
// Quick Editor
$quick-editor-with: 25rem; //400px
$quick-editor-large-with: 37.5rem; //600px
$quick-editor-large-toggle: 75rem; //1200px
// animation
$animation-duration: .3s;
//error page
$error-page-top: 3.125rem; //50px
